@model IEnumerable<Hospital.Models.Medications>

@{
  ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
  <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
  <p> Filter by Description: <input type="text" name="searchString" value="@ViewBag.CurrentFilter"/>
  <input type="submit" value="Search" class="btn btn-priumary" />
  <a asp-action="Index"> All Medications</a>
  </p>
</form>
<table class="table">
  <thead>
    <tr>
      <th>
        <a asp-action="Index"
           asp-route-sortOrder="@ViewBag.DescriptionSortParm">
          @Html.DisplayNameFor(model => model.MedicationDescription)
        </a>

      </th>
      <th>
        <a asp-action="Index" asp-route-sortOrder="@ViewBag.CostSortParm">
          @Html.DisplayNameFor(model => model.MedicationCost)
        </a>
      </th>
      <th>
        @Html.DisplayNameFor(model => model.PackageSize)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Strength)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Sig)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.UnitsUsedYtd)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.LastPrescribedDate)
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.MedicationDescription)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.MedicationCost)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.PackageSize)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Strength)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Sig)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.UnitsUsedYtd)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.LastPrescribedDate)
        </td>
        <td>
          <a asp-action="Edit" asp-route-id="@item.MedicationId">Edit</a> |
          <a asp-action="Details" asp-route-id="@item.MedicationId">Details</a> |
          <a asp-action="Delete" asp-route-id="@item.MedicationId">Delete</a>
        </td>
      </tr>
    }
  </tbody>
</table>
