@model intro_mvc.Models.Stuff
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
  Layout = "_Layout";
}

<br/><br/>
<h1>Hard-Coded Heading</h1>
<h2>@Model.Title</h2>
<p>Name: @Model.Name</p>
<p>Page Served: @Model.Served</p>
@*<h2>@ViewBag.Title</h2>
<p>Name: @ViewBag.Name</p>
<p>Page Served: @ViewBag.Served</p>*@
